{{/* Interface params
image:
  src: img.jpg # this param is required, the others don't (but depending on case)
  alt: Description
  srcset: src/img-1.jpg 500w, src/img-2.jpg 900w
  sizes: "(min-width: 600px) 50vw, 100vw"
  width: crop # get width of image automatically after crop; or define manually a number value for this variable; depends on first (or only one) item in cropSet param
  height: crop # get height of image automatically after crop; or define manually a number value for this variable; depends on first (or only one) item in cropSet param
  cropSet: # order matter; override sibling srcset if defined
  - options: 1170x500 # first (or only one) item is default cropped image and used as src in <img> tag
  - options: 900x400
    cmd: Resize
  sources:
  - type: image/webp
    media: "(max-width: 46.25em)"
    srcset: src/img-1.jpg 500w, src/img-2.jpg 900w
    sizes: "(min-width: 600px) 50vw, 100vw"
    cropSet: # override sibling srcset if defined
    - options: 320x250 Left
      cmd: Fit
      descriptor: 2x # or 800w - used in combination with srcset url
*/}}

{{$imageBundle := .page.Site.GetPage "uploads"}}

{{with .image}}
  {{$src := .src}}
  {{$srcset := .srcset}}
  {{$image := dict.RelPermalink}}

  {{with .cropSet}}
    {{$srcset = partial "funcs/GetSrcSet" (dict "imageBundle" $imageBundle "path" $src "cropSet" (last (sub (len .) 1) .))}}
  {{end}}

  {{if .sources}}<picture>{{end}}
    {{range .sources}}
      {{$sourceSrcSet := .srcset}}
      {{with .cropSet}}
        {{$sourceSrcSet = partial "funcs/GetSrcSet" (dict "imageBundle" $imageBundle "path" $src "cropSet" .)}}
      {{end}}
      {{if $sourceSrcSet}}
        <source
          {{with .type}} type="{{.}}"{{end}}
          {{with .media}} media="{{.}}"{{end}}
          {{with $sourceSrcSet}} {{printf "srcset=%q" . | safeHTMLAttr}}{{end}}
          {{with .sizes}} sizes="{{.}}"{{end}}
        />
      {{end}}
    {{end}}
    {{if .cropSet}}
      {{with (index .cropSet 0)}}
        {{$image = partial "funcs/GetImage" (dict "bundle" $imageBundle "path" $src "cmd" .cmd "options" .options)}}
      {{end}}
    {{end}}
    {{$width := cond (eq .width "crop") $image.Width .width}}
    {{$height := cond (eq .height "crop") $image.Height .height}}
    <img src="{{$image.RelPermalink | default ($src | relURL)}}"
      {{with .alt}} alt="{{.}}"{{end}}
      {{with $srcset}} {{printf "srcset=%q" . | safeHTMLAttr}}{{end}}
      {{with .sizes}} sizes="{{.}}"{{end}}
      {{with $width}} width="{{.}}"{{end}}
      {{with $height}} height="{{.}}"{{end}}
    />
  {{if .sources}}</picture>{{end}}
{{end}}
