html {
  font-size: 62.5%; //10px
}

body {
  font-family: $text-font;
  line-height: 1.5;
  background: $background-color;
  color: $text-color;
  overflow-x: hidden;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  -webkit-hyphens: auto;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    color: $accent-hover-color;
  }
}

ul {
  list-style: none;
}