$white-color: #ffffff;

$text-color: #2f2f2f;
$accent-color: #224afa;
$background-color: $white-color;
$group-text-color: #989898;
$hero-color: #f1f1f1;
$border-color: #ebebeb;
$burger-color: #171616;

$accent-hover-color: #1538d1;
$tile-text-hover-color: $white-color;