{{with partial "funcs/GetCSS.html" (dict "sourcePath" "scss/critical.scss" "enableSourceMap" false)}}
<style>
  {{.Content | safeCSS}}
</style>
{{end}}
{{with partial "funcs/GetCSS.html" (dict "sourcePath" "scss/app.scss" "outputPath" "css/app.css")}}
<noscript id="deferredCss">
  <link rel="stylesheet" href="{{.RelPermalink}}">
</noscript>
{{end}}
<script>
  document.createElement("picture");
</script>
<script async src="https://cdn.jsdelivr.net/npm/picturefill@3.0.3/dist/picturefill.min.js" integrity="sha256-iT+n/otuaeKCgxnASny7bxKeqCDbaV1M7VdX1ZRQtqg=" crossorigin="anonymous"></script>
